.home {
  display: block;
  width: 100%;
}

.home-content {
  margin: 15% auto;
  max-inline-size: max-content;
}

.welcome-title {
  font-size: calc(16px + 2vw);
  font-weight: bold;
}

.welcome-body {
  padding: 20px 0 0 0;
}