.prob-container {
  display: flex;
  flex-direction: row;
}

.prob-picture {
  width: 30%;
  padding: 1.5rem 2rem;
}

.prob-explanation {
  width: 70%;
  padding: 1.5rem 2rem;
}

.prob-svg {
  width: 100%;
}