.quote-container {
  position: absolute;
  right: 6%;
  bottom: 6%;
  max-width: 50%;
}

.quote-title {
  text-align: start;
}

.quote-body {
 text-align: center;
}

.quote-author {
  text-align: end;
}