.app {
  height: 100vh;
  background: rgb(3,37,76);
  background: linear-gradient(
    135deg, rgba(3,37,76,1) 0%, 
    rgba(17,103,177,1) 85%, 
    rgba(24,123,205,1) 100%
  );
}

.app-header {
  text-align: left;
}

.app-body {
  height: 95vh;
  background: #ffffff15;
}

.comp-container {
  padding: 40px;
}

.route {
  font-size: calc(12px + 1vmin);
  height: 100%;
  display: inline-table;
  color: white;
  text-decoration: none;
  padding: 8px;
  padding-inline: 16px;
  /* border: 1px outset lightgray; */
}

.active-route {
  background: #ffffff15;
}