body {
  margin: 0;
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: calc(12px + 1vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(3,37,76);
  background: linear-gradient(
    135deg, 
    rgba(3,37,76,1) 0%, 
    rgba(17,103,177,1) 85%, 
    rgba(24,123,205,1) 100%
  );

  --nav-background: #242526;
  --nav-contrast: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');